
# ignore data and logs 
**/data
**/*.csv
**/logs
**/.log

# Python
**/__pycache__

# Notebooks
**/.ipynb_checkpoints

# IPython
**/profile_default
**/ipython_config.py

# PyTorch
**/*.pt
**/*.pth
**/*.checkpoint

# scripts
**/*.sh
